* {
    font-family: 'Poppins', sans-serif;
}

.reg-form-all {
    width: 100vw;
    min-height: 1vh;
}

.sections {
    width: 40%;
    max-width: 400px;
}

/* check boxes-- start */

.container {
    width: 100%;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid #002F43;
    color: #002F43;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 10px 15px 11px 15px;
    cursor: pointer;
}

ul.ks-cboxtags li label::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    font-size: 12px;
    padding: 0px 0px 0px 7px;
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::after {
    content: "\f00c";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid #002F43;
    background-color: #F29E6D;
    color: #002F43;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #002F43;
}

/* check boxes-- END */
/* red-star-- START */

.red-star {
    color: red;
}

/* red-star-- END */

.input-text-field {
    background: rgba(255, 255, 255, 0);
    height: 40px;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 100%;
    padding: 5px;
    border-color: black;
    border-width: 2px;
    font-size: 16px;
}
label{
    align-items:center;
    font-size: 12px; 
    font-weight: 500;
}
input[type='checkbox']{
    margin-right:2px;
}

.drop-down {
    color: #989898;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.head-style {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

.row-view {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto; 
    
}
.rem{
    justify-content: space-between;
    width:75%;
    align-items:center;
}

.page-heading {
     height: 134px; 
    width: 100%;
    padding:1vh;
    
    background-color: #282826;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}



.counter{
     height:42px;
     min-width:133px;
     max-width:133px;
     border-radius: 50px 50px 50px 50px;
     border: 1px solid black;
     display:flex;
     flex-direction:row;
     justify-content:center;
     align-items:center;
     padding:0.5vw;
     padding-top:3vh;
     padding-bottom:3vh;

     

}
.counter span{
    width:100%;
    text-align:center;
    font-weight:600;
    cursor:pointer;
}
.counter span.num{
    font-size:1.3vw;
    pointer-events:none;
    text-align:center;
}
.artist-type{
    display:flex;
    flex-direction:row;
    justify-content:left;
    
    align-items:center;
    padding-right:11vw;
    padding-bottom:2vw;

}


.register-button {
    height: 40px;
    align-items:center;
    background: #C6B394;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    transition: box-shadow 0.6s;
}

.register-button:hover,
.register-button:focus,
ul.ks-cboxtags li label:hover,
ul.ks-cboxtags li label:focus {
    box-shadow: 0 4px 15px 0 #C6B394;
}
.namep{
    margin-bottom:28px;
}

.artist-checkbox{
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items:center;
    width:150px;
    height:50px;
    border-radius:10px;
    margin-bottom:20px;
    
    
}
.checkbox{
    width:22px;
    
    
}
    
input[type="checkbox"] {
    transform: scale(2.5); 
    
    margin-left:18px; 
}
   

input[type='checkbox'] {
    accent-color: #34D67E;
     
}



@media only screen and (orientation: portrait) {
    .namep{
        margin-bottom:9px;
    }
    .row-view {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 99%;
    }

    .sections {
        width: 70%;
    }

    .page-heading {
        font-size: 56px;
        padding-top:0vh;
    }

    .input-text-field {
        min-width: none;
        width: 100%;
    }
    .page-heading img{
        display:none;
    }
    
    
}

@media (max-width: 460px){
    .registration{
        font-size:38px;
    }
}

.modal-list2-active {
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 1rem;
    padding: 0.25rem;
    border-bottom: 2px solid #A81617;
}

.modal-list2-inactive {
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 1rem;
    padding: 0.25rem;
    line-height: 24px;
}

.form-content {
    background-image: url("{%static "images/rocko.png"%}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
    
}

.rem-btn {
    padding-top: 1.5vw;
    width: 134px;
    height: 40px;
    background: #C6B394;
    background-color: #C6B394;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    transition: box-shadow 0.6s;
}

.rem-btn:hover,
.rem-btn:focus,
ul.ks-cboxtags li label:hover,
ul.ks-cboxtags li label:focus {
    box-shadow: 0 4px 15px 0 #C6B394;
}







.popup{
    position:absolute;
    left:0px;
    width:0%;
    height:0%;
    transform:translateY(-50%);
    top:50%;
    overflow:hidden;
    
    z-index:5;
    background: #fff;

}

.registration-page{
    opacity: 0;

}
.popup-close-btn{
    cursor:pointer;
}


.popup.active{
    animation:popupAnimation 1500ms ease-in-out forwards;
}
.popup.active .registration-page{
    opacity: 1;
    transition: all 600ms ease-in-out 1500ms;
    
}


@keyframes popupAnimation {
    0%{
        width:0%;
        height:0%;
        
    }
    50%{
        width:80%;
        height:5px;
        margin-left: 10%;
        margin-right: 10%;
        
        
    }
    100%{
        width:80%;
        height:auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 450px;;        
        
    }
}
@media screen and (max-width: 710px) {
    @keyframes popupAnimation {
        0% {
            width: 0%;
            height: 0%;
        }
        50% {
            width: 80%;
            height: 5px;
            margin-left: 10%;
            margin-right: 10%;
        }
        100% {
            width: 80%;
            height: auto;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 720px;
        }
    }
}