{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registartion Sucess !!</title>
</head>
<link rel="stylesheet" href="{% static 'css/success.css' %}">
<link href="https://fonts.cdnfonts.com/css/sudo-var" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <div class="body">
        <div class="header">
            <div class="img">
                <img src="{% static 'img/headerimg-removebg-preview.png' %}" alt="headerimg" class="horn">
                <img src="{% static 'img/Vector 1.png' %}" alt="vector" class="vector">
            </div>
            <ul class="links">
                <li ><a href="{% url 'index' %}" >Home</a></li>
                <li><a href="{% url 'registration' %}">Registartion</a></li>
                <li><a href="#Aboutus">About us</a></li>
                <li><a href="#Contactus">Contact Us</a></li>
                <li>
                    <button class="button">
                        <a href="{% url 'registration' %}">Register</a>
                    </button>
                </li>
            </ul>
            <div class="uil uil-bars menubtn"></div>
           
       
     </div>



     <div class="bg">
          <section>
            <img src="{% static 'img/Group 11.png' %}" alt="">
            <h1>Oops! Something Went Wrong!</h1>
            <p>We couldn't process your registration. But don’t worry—you can try again!</p>
            <button>
                <a href="registration.html">Retry Registartion</a>
            </button>
          </section>
     </div>
     <script src="{% static 'redirectionscipt.js' %}"></script>
    </div>
</body>
</html>