{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rockophonix/Registration</title>
</head>
<link rel="stylesheet" href="{% static 'css/registrationstyle.css' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<body>
    <div class="body">
        <div class="header">
            <div class="img">
                <img src="{% static 'img/headerimg-removebg-preview.png' %}" alt="headerimg" class="horn">
                <img src="{% static 'img/Vector 1.png' %}" alt="vector" class="vector">
            </div>
            <ul class="links">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'registration' %}">Registration</a></li>
                <li><a href="#Aboutus">About us</a></li>
                <li><a href="#Contactus">Contact Us</a></li>
                <li>
                    <button class="button">
                        <a href="{% url 'registration' %}">Registration</a>
                    </button>
                </li>
            </ul>
            <div class="uil uil-bars menubtn"></div>


        </div>
        <div class="bg">
            <section>
                <h1 class="main-heading">REGISTRATION</h1>
                <h3 class="subheading">Team Details</h3>
                <div class="team">

                    <div>
                        <h4 class="subsubheading">Team Name<span class="redstar">*</span> </h4>
                        <input type="text" placeholder="Enter Team Name...">
                    </div>
                    <div>
                        <h4 class="subsubheading">City<span class="redstar">*</span> </h4>
                        <input type="text" placeholder="Enter City Name...">
                    </div>
                    <div>
                        <h4 class="subsubheading">Performence Link<span class="redstar">*</span> </h4>
                        <input type="text" placeholder="Enter Link...">
                    </div>

                </div>
            </section>
            <section>
                <h3 class="subheading">Number of Members</h3>
                <div class="members">
                    <div class="member">
                        <h4 class="subsubheading">Drummer</h4>
                        <div class="counter">
                            <button class="btn-minus">
                                <img src="{% static 'img/minus.png' %}" alt="Minus" class="minus-1">
                            </button>
                            <span class="num-1">0</span>
                            <button class="btn-plus">
                                <img src="{% static 'img/plus.png' %}" alt="Plus" class="plus-1">
                            </button>
                        </div>
                    </div>

                    <div class="member">
                        <h4 class="subsubheading">Guitarist</h4>
                        <div class="counter">
                            <button class="btn-minus">
                                <img src="{% static 'img/minus.png' %}" alt="Minus" class="minus-2">
                            </button>
                            <span class="num-2">0</span>
                            <button class="btn-plus">
                                <img src="{% static 'img/plus.png' %}" alt="Plus" class="plus-2">
                            </button>
                        </div>
                    </div>

                    <div class="member">
                        <h4 class="subsubheading">Bassist</h4>
                        <div class="counter">
                            <button class="btn-minus">
                                <img src="{% static 'img/minus.png' %}" alt="Minus" class="minus-3">
                            </button>
                            <span class="num-3">0</span>
                            <button class="btn-plus">
                                <img src="{% static 'img/plus.png' %}" alt="Plus" class="plus-3">
                            </button>
                        </div>
                    </div>


                    <div class="member">
                        <h4 class="subsubheading">Vocalist</h4>
                        <div class="counter">
                            <button class="btn-minus">
                                <img src="{% static 'img/minus.png' %}" alt="Minus" class="minus-4">
                            </button>
                          <span class="num-4">0</span>
                            <button class="btn-plus">
                                <img src="{% static 'img/plus.png' %}" alt="Plus" class="plus-4">
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="teamdetails">
               <div>
                <h3 class="subheading">Leader Details</h3>
                <div class="details">
                    <div>
                        <h4 class="subsubheading">Full Name </h4>
                        <input type="text" placeholder="Enter Full Name...">
                    </div>
                    <div>
                        <h4 class="subsubheading">Gender</h4>
                        <select class="gender-dropdown">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div>
                        <h4 class="subsubheading">Contact Name </h4>
                        <input type="text" placeholder="Enter Phone Name...">
                    </div>
                    <div>
                        <h4 class="subsubheading">Email Id </h4>
                        <input type="text" placeholder="Enter Email Id...">
                    </div>
               </div>
                </div>

           
            </section>
             <section>
                <div class="addmember">
                    <button onclick="addMember()">
                        + Add Member
                    </button>
                </div>
             </section>
            <section class="register">
                <button>
                    Register
                </button>
            </section>
        </div>
    </div>
    <script src="{% static 'js/registartionscript.js' %}"></script>
</body>

</html>