<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA Details</title>
    <style>
        table, th, td {
  border:1px solid black;
}
    </style>
</head>
<body>
    <!-- leader details  -->
    <div style="margin:10vw">
        <div style="text-align:center;font-size: x-large;font-weight: bold;margin-bottom: 2%;">Leader Details</div>
        <table style="width:80%;margin:auto">
            <tr>
                <th>Sl No.</th>
              <th>Team Name</th>
              <th>Leader Name</th>
              <th>Email</th>
              <th>City</th>
              <th>Leader Contact Details</th>
              <th>Submission Link</th>
            </tr>

            {% for team in teams %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{team.teamName}}</td>
                <td>{{team.name}}</td>            
                <td>{{team.email}}</td>
                <td>{{team.city}}</td>
                <td>{{team.phoneNumber}}</td>
                <td><a href="{{ team.previousPerformance }}" target="_blank">Previous Performance</a></td>
            </tr>
            {% endfor %}
          
          </table>
    </div>
</body>
</html>